body {
  font-family: Gothic;
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}

/*THIS IS HEADER CONTAINER*/

header {
  width:1000px;
  height:69px;
  margin:15px auto;
}
.header-logo {
  float: left;
  margin-right: 30px;
  width:232px;
}
.header-banner {
  width:392px;
  float: left;
}
.button {
  margin-top:15px;
  float: right;
}
.pink-button a:hover {
  background-color: #be1e51;
}
.blue-button a:hover {
  background-color: #2d4dce;
}
.pink-button {
  height:33px;
  min-width:152px;
  line-height:33px;
  text-align: center;
  color: white;
  background: #ec2d6a;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 0px #be1e51;
  border-radius: 2px;
  margin-left:5px;
}
.blue-button {
  height:33px;
  min-width:152px;
  line-height:33px;
  text-align: center;
  color: white;
  background: #4a6aeb;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 0px #2d4dce;
  border-radius: 2px;
  margin-left:5px;
}

/*THIS IS NAVIGATION CONTAINER*/

nav {
  text-decoration: none;
  background-color: #232323;
  box-shadow: 0px 3px 2px black;
  height:50px;
}
nav ul {
  padding: 0;
}
nav ul li {
  line-height: 50px;
  display: inline-block;
  font-size: 18px;
}
nav ul li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  border-bottom: 1px solid #ea243b;
}
nav ul li:not(:first-child) {
  padding-left: 30px;
}
.main-width {
  width: 1000px;
  margin: 0 auto;
}

/*THIS IS WRAPPER CONTAINER*/

.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.banner {
  padding-top: 30px;
}
