@font-face {
    font-family: "Century Gothic";
    src: url('fonts/DidactGothic-Regular.ttf');
}
body {
  font-family: "Century Gothic";
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.top-line {
    position: fixed;
    width:100%;
    min-height: 100px;
    height:auto;
    top:0px;
    left:0px;
    background-color:white;
}
.main-width {
    width:1000px;
    margin:0px auto;
}
  /*This is a HEADER countainer*/

.header {
    width:1000px;
    height:69px;
    margin:15px auto;
}
.left-banner {
  float: left;
  margin-right: 30px;
  width:232px;
}
.middle-banner {
  width:392px;
  float: left;
}
.right-buttons {
    margin-top:15px;
    float: right;
}
.right-buttons a:hover {
  background-color: #be1e51;
}
.right-buttons a {
   height:33px;
   min-width:152px;
   line-height:33px;
   text-align: center;
   color: white;
   background: #ec2d6a;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 0px 2px 0px #be1e51;
   border-radius: 2px;
   margin-left:5px;

}

/*THIS IS A NAVIGATION COUNTAINER*/

.top-navigation {
  text-decoration: none;
  background-color: #232323;
  box-shadow: 0px 3px 2px black;
  height:50px;
}
.top-navigation ul {
  padding:0px;
}
.top-navigation ul li {
  line-height: 50px;
  display: inline-block;
  font-size: 18px;
}
.top-navigation ul li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.top-navigation ul li a:hover {
    border-bottom: 1px solid #ea243b;

}
.top-navigation ul li:not(:first-child) {
    padding-left: 30px;
}
.wrapper-container {
    padding-top:180px;
}

/*This is NOTIFICATION CONTAINER*/

.notification {
  background-color: #f5f5f5;
  height: 56px;
  text-align: center;
   line-height: 56px;
}
.notification img {
    vertical-align: -9px;
    margin-right: 10px;
}
.notification p {
  color: #000000;
  font-size: 18px;
}
.notification p a {
  color: #ff0047;
  text-decoration: none;
}
.notification p a:hover {
    cursor: pointer;
    text-decoration: underline;
}
/*This is BANNER CONTAINER*/
.banner {
  padding-top: 30px;
}
/*This is CONTAINER CONTAINER*/

.beginning-container {
  height: 50px;
  padding-top: 20px;
  border-bottom: 12px solid #e5e5e5;
  margin-bottom: 40px;
}
.beginning-container h1 {
  font-size: 20px;
  float: left;
}
.filter {
  float: right;
}
.select_name {
  float: right;
}
.categories h3 {
  font-weight: normal;
  margin-top: 15px;
}
.select_name .styled_select {
  height: 35px;
  width: 162px;
}
.container hr {
  color: #e5e5e5;
  background-color: #e5e5e5;
  height: 12px;
}

/*For NEWS TABLE*/

.info_table {

}
.news_logo {
  float: left;
  padding: 28px 4px 27px 5px;
  border: 1px solid #e8e8e8;
}
.information {
  float: right;
  height: 250px;
  width: 737px;
  margin-top:30px;
}
.name-section {
  width: 100%;
  border-bottom: ridge 1px #e5e5e5;
  padding-bottom:5px;
}
.name-section a:hover {
  color: #c313b4;
}
.name-section h1 {
  float: left;
  margin: 0px;
  width: 600px;
  font-size:24px;
  line-height: 24px;
}
.name-section a {
  font-size:16px;
  line-height: 24px;
  float: right;
  text-decoration: none;
  color: #ec2d6a;
}
.date-section {
  border-bottom: ridge 1px #e5e5e5;
}
.time_title {
  vertical-align: middle;
  margin:20px 0px;
  float:left;
}
.time_title img {
  vertical-align: middle;
  margin-right: 5px;
}
.time_title p span {
  margin-right: 10px;
}
.time_title p {
  max-width:245px;
  text-align: left;
  border-right: 1px solid #e5e5e5;
  margin-right: 10px;
  padding: 10px;

  display: inline;

}
.time_title h5 {
  color: #ec2d43;
  font-size: 25px;
  display: inline;
}
.button-title {
  float: right;
  margin:20px 0px;
}
.button-title a {
  height:44px;
  min-width:187px;
  line-height:44px;
  text-align: center;
  color: white;
  background: #6eb005;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 0px #5a8d09;
  border-radius: 2px;
}
.button-title a:hover {
  background-color: #5a8d09;
}
.list-section {
    margin-top: 5px;
}
.list-section p {
  float: left;
  margin:0px;
}
.list-section p a {
  text-decoration: none;
  color: #ec2d6a;
}
.list-section h3 {
  float: right;
  margin:0px;
}

/*THIS IS PAGINATION COUNTAINER*/
.pagination {
  margin-bottom: 105px;
}
.pagination a {
    color: black;
    float: left;
    padding: 10px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #f2f2f2;
    margin-right: 5px;
    border-radius: 5px;
}
.pagination a.active {
    background-color: #c313b4;
    color: white;
}
.pagination a:hover:not(.active) {
  background-color: #c313b4;
}
.pagination a:hover:not(.active) {color: #ffffff;}

/*This is Footer container*/

footer {
  height: 50px;
  background-color: #adadad;
  margin-bottom: 50px;
}
.title-text {
  float: left;
}
.main-width {
  width: 1000px;
  margin: 0 auto;

}
.title-text {
  width: 333px;
  position: relative;
}
.title-text a {
  text-align: left;
  vertical-align: middle;
  line-height: 50px;
  margin-right: 14px;
  text-decoration: none;
  color: #ffffff;
}
.title-text p {
  text-align: center;
  line-height: 50px;
  margin: 0;
  color: #ffffff;
}
.title-text h3 {
  text-align: right;
  line-height: 50px;
  margin: 0;
  color: #ffffff;
}
.title-text h3 img {
  position: absolute;
  top: -22px;
}
.title-text a:hover {
    color:#c313b4;
    cursor: pointer;
}

/*Registration container*/

.container {

}
.select-gender {
  grid-area: select-gender;
  width: 300px;
}

.reg-inputs {
  grid-area: reg-inputs ;
  width: 400px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 10px 10px 10px 10px;

}

.reg-login-input {
  grid-area: reg-login-input;
  width: 275px;
  padding-left: 30px;
}
.reg-grid {
  display: grid;
  grid-template-areas: "select-gender reg-inputs reg-login-input"
  ;
}
.reg-login-input input {
  padding: 12px 37px;
  margin: 8px 0;
  min-width: 175px;
  border: 1px solid #dcdcdc;
}
.reg-inputs input {
  padding: 12px 37px;
  margin: 8px 0;
  min-width: 325px;
  border: 1px solid #dcdcdc;
}

.reg-inputs p {
  font-family: "Century Gothic";
  font-size: 12px;
  line-height: 20px;
}
.reg-login-input form {
  font-family: "Century Gothic";
  font-size: 12px;
  line-height: 20px;
}

.gender-images {
  display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-gap:1em;
}

.profile-picture-grid {

}
