body {
  margin: 0px;
  padding: 0px;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

  /*This is a HEADER countainer*/

.header_banners {
  width: 1000px;
  height: 85px;
  padding-top: 15px;
}
.left_banner {
  float: left;
  padding-right: 33px;
}
.middle_banner {
  float: left;
  padding: 84px, 30px, 84px;
}
.right_buttons {
  float: right;
  padding-top: 9px;
}
.right_buttons a {
   color: white;
   background: #ec2d6a;
   padding: 8px 33px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   box-shadow: 0px 2px 0px #be1e51;
}
.right_buttons > a {
  margin-right: 1px;
}

/*THIS IS A NAVIGATION COUNTAINER*/

.top_navigation {
  text-decoration: none;
  background-color: #232323;
}
.top_navigation ul {
  padding-left: 0px;
  padding: 14px 0px 14px 0px
}
.top_navigation ul li {
  display: inline;
  font-size: 18px;
  color: #f5f5f5;
  font-family: 'Pavanam', sans-serif;
}
.top_navigation ul li:not(:first-child) {
  padding-left: 30px;
}

/*This is NOTIFICATION CONTAINER*/

.notification {
  background-color: #f5f5f5;
  height: 56px;
}
.notification img {

}
.notification p {
  text-align: center;
  color: #000000;
  font-size: 18px;
}
.notification p span {
  color: #ff0047;
}
.alert_icon {
  float: left;
}
.alert_icon img {
  margin-left: 172px;
  margin-top: 10px;
  margin-right: 10px;
}
.alert_text {
  float: left;
}

/*This is BANNER CONTAINER*/

.banner {
  padding-top: 30px;
}

/*This is CONTAINER CONTAINER*/

.beginning_container {
  height: 50px;
  padding-top: 20px;
}
.text_name {
  float: left;
}
.text_name h1 {
  font-size: 20px;
}
.categories {
  float: left;
}
.select_name {
  float: right;
}
.categories h3 {
  font-weight: normal;
  margin-top: 15px;
}
.select_name .styled_select {
  height: 35px;
  width: 162px;
}
.container hr {
  color: #e5e5e5;
  background-color: #e5e5e5;
  height: 12px;
}

/*For NEWS TABLE*/

.info_table {

}
.news_logo {
  float: left;
  padding: 28px 4px 27px 5px;
  border-style: ridge;
}
.information {
  float: right;
  width: 735px;
}
.middle_news_button a {
  background-color: #6eb005;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 15px 32px;
  box-shadow: 0px 2px 0px #5a8d09;
}
